.hlavni{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "header header header"
        "maine maine maine"
        "main footer footer";

}
.zahlavi{
    grid-area: header;
    background-color: aqua;
}
.telo{
    grid-area: maine;
    background-color: green;
}
.noha{
    grid-area: footer;
    background-color: red;
}