.hlavni{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "header header header"
        "nav main main"
        "footer footer footer";

}
.zahlavi{
    grid-area: header;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;

}
.telo{
    grid-area: main;
    background-color: green;
}
.navigace{
    grid-area: nav;
    background-color: yellow;
}

.noha{
    grid-area: footer;
    background-color: red;
}



#darkmodeimg{
    max-height: 50px;
    max-width: 50px;
}


#pwd-alert {
  color:#f44336;
  font-size: small;
  margin-top:0px;
  display: none;

}
#pwd-alert.show {
  display:block;
}